accelerate>=0.30.0
biopython>=1.83
datasets>=2.19.0
einops>=0.8.0
evaluate>=0.4.2
numpy>=1.26.0
pandas>=2.2.0
pyfaidx>=0.8.1
pysam>=0.22.0
requests>=2.32.0
scikit-learn>=1.4.0
torch>=2.2.0
tqdm>=4.66.0
transformers>=4.41.0
